* {
    margin:0;
    padding: 0;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.menu-bar
{
    background: purple;
    text-align:center;
    
    
}
.k
{
}
body{
    background:white;
}
.menu-bar ul
{
    display:inline-flex;
    list-style:none;
    color:#810083;
}
.menu-bar ul li
{
    width:180px;
    margin:15px;
    padding:15px;
}
.menu-bar ul li a
{
    text-decoration: none;
    color:white;
    padding: 5px 10px;
    border:5px solid transparent;
    transition:0.2s ease;
}
.active,.menu-bar ul li:hover
{
    background:plum;
    border-radius:4px;
}


.dropdown .dropbtn
{   margin: 10px;
    color: white;
    float:left;
    size: 2vh;
}
.profile
{
    margin: 8.5vh;
    color: white;
    float:right;
    text-decoration: none;
}
.search-box
{
    position: absolute;
    top:15%;
    left:50%;
    
    transform: translate(-50%,-50%);
    background:white;
    height:20px;
    border-radius: 40px;
    padding: 5px;
}
.search-btn
{
    color:purple;
    float: right;
    border-radius:50% ;
    background:white;
    display:flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.search-box:hover>.search-txt
{
    width: 240px;
    padding: 0 6px;
}
.search-box:hover>.search-btn
{
    background:white;
}
.search-txt
{
    border:none;
    background:none;
    outline: none;
    float: left;
    padding: 0;
    color:white;
    font-size:16px;
    line-height: 20px;
    transition:0.4s;
    width:240px;
}
.menu-bar .dropdown #fi
{   
   text-decoration: none;
   margin-left: 10px;

}

.doctor
{
    margin:10px 10px;
    background:wheat;
    height:110px
}
.doctor:hover
{
    background: plum;
    transition: 0.5s;
}


.dlocation
{  margin-top: 0px;
     margin-left: 90%;
   
    text-decoration: none;
    color: black;
}
.dprofile
{
    width:10%;
    border-radius:100%;
    border:2px solid purple;
}
.dname
{   margin-top: 8px;
    margin-left: 20%;
}