#p1
{
position:absolute;
text-decoration:none;
color:brown;
left:17%;
top:230px;
font-weight:bold;
font-size:24px;
background-color:white;
border:2px solid black;
width:150px;
height:30px;
margin:10px;
padding:5px;

}
#p2
{
position:absolute;
text-decoration:none;
color:brown;
left:45%;
top:230px;
font-weight:bold;
font-size:24px;
border:2px solid black;
width:150px;
height:30px;
margin:10px;
padding:5px;
background-color:white;
}
#p3
{
position:absolute;
text-decoration:none;
color:brown;
left:75%;
top:230px;
font-weight:bold;
font-size:24px;
border:2px solid black;
width:150px;
height:30px;
margin:10px;
padding:5px;
background-color:white;
}
.cd
{
position:absolute;
top:0px;
width:100%;
height:40%;
background-color:purple;
}
#dd
{
position:absolute;
top:40%;
width:100%;
height:400%;
background-color:white;
}
#p01
{
position :absolute;
top:170px;
left:37%;
color:purple;
font-size:20px;
font-weight:bold;
}
#p5
{
position :absolute;
top:170px;
left:48%;
color:white;
}
.details-box
{
position:absolute;
width:500px;
top:0px;
left:35%;
height:158%;

background-color:white;

box-shadow:0 0 20px 2px silver;
border-radius:50px;
}

.detail-box
{
position:absolute;
width:500px;
top:60%;
left:50%;
height:81%;
transform:translate(-50%,-50%);
color:purple;
box-shadow:0 0 20px 2px silver;
border-radius:50px;

}

.textbox 
{
position:relative;
width:100%;
overflow:hidden;
font-size:20px;
padding:4px 0;
margin :6px 0;
border-bottom:1px solid purple;
height:11px;
}
.pq
{
position:relative;
left:10px;

}

.textbox input
{
position:relative;
border:none;
outline:none;
background:none;
color:black;
font-size:18px;
margin:0 10px;
left:160px;
}
.textbox select
{
position:relative;
border:none;
outline:none;
background:none;
color:black;
font-size:18px;
margin:0 10px;
left:160px;
}
.btn
{
position:relative;
width:90%;
background-color:white;
border: 2px solid silver;
color:purple;
padding:8px;
font-size: 22px;
cursor: pointer;
margin: 12px 0;
box-shadow:0 0 20px 2px purple;
border-radius:50px;
left:20px;
}
#pks
{
position:absolute;
align:center;
left:36%;
width:150px;

border-radius:50% ;
top:10px;
}

.a
{
position:relative;
color:purple;
left:50px;
}
button
{
text-align:center;
color:black;
}
#h
{
position:absolute;
left:400px;
width:50%;
top:130px;
background-color:white;
box-shadow:0 0 5px 1px ;
border-radius:50px;
}
#j
{
position:relative;
left:450px;
top:40px;
top:0px;
box-shadow:0 0 5px 1px purple;
color:purple;
}
#k
{
position:relative;
left:454px;
top:40px;
top:0px;
box-shadow:0 0 5px 1px purple;
color:purple;
}
#k
{
position:relative;
left:328px;
top:40px;
top:0px;
box-shadow:0 0 5px 1px purple;
color:purple;
}
#l
{
position:relative;
left:367px;
top:40px;
top:0px;
box-shadow:0 0 5px 1px purple;
color:purple;
}
#m
{
position:relative;
left:367px;
top:40px;
top:0px;
box-shadow:0 0 5px 1px purple;
color:purple;
}
#n
{
position:relative;
left:466px;
top:40px;
top:0px;
box-shadow:0 0 5px 1px purple;
color:purple;
}
#u
{
position:relative;
left:454px;
top:40px;
top:0px;
box-shadow:0 0 5px 1px purple;
color:purple;
}
body
{

background-color:purple;


}
}
}
span
{
positio:relative;
left:50px;
}
#zx
{
position:absolute;
left:700px;
top:50px;
color:white;
}