.bapt
{
position:absolute;
width:40%;
background-color:purple;
left:30%;
height:700px;

color:white;
}
#p1
{
position:absolute;
color:purple;

}
#p2
{
position:absolute;

color:purple;
}
#p3
{
position:absolute;

color:purple;
}
#p4
{
position:absolute;
width:146px;
left:5%;
top:100px;
background-color:white;
height:70px;
}
#p5
{
position:absolute;
width:146px;
left:36%;
top:100px;
background-color:white;
height:70px;
}
#p6
{
position:absolute;
width:146px;
left:67%;
top:100px;
background-color:white;
height:70px;
}
#m1
{
position:absolute;
left:5%;
top:190px;
}
#m2
{
position:absolute;
left:5%;
top:420px;
}
#b1{
position:absolute;
left:5%;
top:40px;}
#b2{
position:absolute;
left:5%;
top:80px;}
#b3{
position:absolute;
left:5%;
top:120px;}
#b4{
position:absolute;
left:5%;
top:160px;}
#b5{
position:absolute;
left:5%;
top:42px;}
#b6{
position:absolute;
left:5%;
top:82px;}

#b7{
position:absolute;
left:5%;
top:122px;}
#b8{
position:absolute;
left:5%;
top:160px;}
button
{
position:absolute;
left:75%;
top:250px;
width:70px;
height:30px;
}
#bk1
{
position:absolute;
left:75%;
top:289px;
width:70px;
height:30px;
}
#bk2
{
position:absolute;
left:75%;
top:329px;
width:70px;
height:30px;
}
#bk3
{
position:absolute;
left:75%;
top:369px;
width:70px;
height:30px;
}
#bk4
{
position:absolute;
left:75%;
top:480px;
width:70px;
height:30px;}
#bk5
{
position:absolute;
left:75%;
top:520px;
width:70px;
height:30px;}

#bk6
{
position:absolute;
left:75%;
top:560px;
width:70px;
height:30px;}
#bk7
{
position:absolute;
left:75%;
top:600px;
width:70px;
height:30px;}




